<nav class="navbar">
    <div class="navbar__brand">
        <a class="title" href="/Customer/">SEFOS</a>
    </div>
    <div class="navbar__list">
        <div class="navbar__item">
            <a href="/Customer/">Home</a>
        </div>
        <div class="navbar__item">
            <a href="./view-cart.jsp">Cart</a>
        </div>
        <div class="navbar__item">
            <a href="./view-order.jsp">Order</a>
        </div>
        <div class="navbar__item">
            Profile <i class="fas fa-chevron-down"></i>
            <div class="dropdown_menu">
                <div class="dropdown__inner">
                    <ul class="dropdown__list">
                        <li>
                            <a href="./settings.jsp">Settings</a>
                        </li>
                        <li>
                            <a href="#" id="logoutBtn">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>