<div class="form__field">
    <label for="name">Name on Card</label>
    <input type="text" id="name" name="name" autocomplete="off" placeholder="Enter your name" required>
</div>
<div class="form__field">
    <label for="card_number">Card Number</label>
    <input type="text" id="card_number" name="card_number" autocomplete="off" placeholder="Number" required>
</div>
<div class="form__field">
    <label for="expired_date">Expired Date</label>
    <input type="text" id="expired_date" name="expired_date" autocomplete="off" placeholder="MM/YY" required>
</div>
<div class="form__field">
    <label for="cvc">CVC</label>
    <input type="text" id="cvc" name="cvc" autocomplete="off" placeholder="CVC" required>
</div>
<div class="form__btn">
    <button class="submit">
        Make Payment
    </button>
</div>