<div class="form__field">
    <label for="fpx">Online Bank</label>
    <select name="fpx" id="fpx" required>
        <option value="" selected disabled hidden>Choose The Bank</option>
        <option value="maybank">Maybank2u</option>
        <option value="cimb">CIMB Clicks</option>
        <option value="ambank">Ambank</option>
        <option value="bsn">MyBSN</option>
        <option value="bankrakyat">Bank Rakyat</option>
        <option value="bimb">Bank Islam</option>
    </select>
</div>
<div class="form__btn">
    <button class="submit" type="submit">
        Make Payment
    </button>
</div>