.form__add_worker {
    color: white;
    width: 25rem;
    margin: 0 auto;
    margin-top: 4rem;
    padding: 2rem;
    background: rgba(0,0,0,0.7);
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
}
.form__add_worker > .title {
    color: var(--color-orange);
    font-weight: 600;
    font-size: 1.7rem;
    text-align: center;
    margin-bottom: 1rem;
}
.form__item > input {
    font-family: inherit;
    font-size: 1rem;
    border: none;
    padding: 0.5rem;
}
.form__item > input:focus {
    outline: 2px solid var(--color-orange);
}
.form__action > button {
    all: unset;
    background: var(--color-orange);
    padding: 0.5rem 2rem;
    cursor: pointer;
    color: white;
    font-weight: 600;
}
.form__action > button:hover {
    background: var(--color-orange-dark);
}
.form__redirect > a {
    color: var(--color-btn-link);
    font-weight: 600;
}
.form__redirect > a:hover {
    color: var(--color-btn-link-hover);
}
