:root {
    /* Variable */
    --font-quicksand: 'Quicksand', sans-serif;
    --font-montserrat: 'Montserrat', sans-serif;

    --color-orange: rgb(242, 137, 43);
    --color-orange-dark: rgb(189, 108, 34);
}
html {
   font-size: 100%;
   box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--font-quicksand);
}