.checkout__box {
    background: var(--color-white-dark);
    min-width: 62.5rem;
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 2rem 3rem;
    margin: 0 auto;
    width: 75vw;
}
.menu__title {
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 1rem;
}
.menu__details {
    border: 2px solid var(--color-grey);
    padding: 1rem;
}
.menu__item {
    display: grid;
    grid-template-columns: 20rem 1rem 1rem;
    text-align: start;
    gap: 4rem;
    margin-bottom: 1.3rem;
}
.menu__item.result {
    margin-bottom: 0;
    border-top: 1px solid var(--color-grey);
    padding-top: 1rem;
    font-weight: 600;
    color: var(--color-orange);
    display: block;
    text-align: right;
    padding-right: 1rem;
}
.menu__item.result > span:nth-child(1) {
    color: var(--color-grey);
    margin-right: 1rem;
    font-size: 0.8rem;
}
.checkout__payment {
    width: 20.3125rem;
    border: 2px solid var(--color-grey);
    padding: 1rem;
}
.payment__title > .title.big {
    display: block;
    font-size: 1.3rem;
    font-weight: 600;
}
.payment__title > .title.small {
    font-size: 0.8rem;
    font-weight: 600;
    color: var(--color-grey);
    display: block;
    margin-bottom: 1rem;
}
.payment_method__box {
    display: flex;
    gap: 0.5rem;
    justify-content: space-evenly;
    cursor: pointer;
    font-weight: 600;
    font-size: 0.8rem;
    margin-bottom: 1.5rem;
}
.payment_method__box > .payment_method__btn {
    all: unset;
    background: var(--color-grey);
    color: white;
    padding: 0.5rem;
}
.payment_method__box > .payment_method__btn:hover {
    background: var(--color-grey-hover);
}
.payment_method__box > .payment_method__btn.active {
    background: var(--color-orange);
}
.payment_action__btn {
    all: unset;
    background: var(--color-btn-success);
    color: white;
    font-weight: 600;
    padding: 0.5rem 2rem;
    display: block;
    margin: 0 auto;
    cursor: pointer;
}
.payment_action__btn:hover {
    background: var(--color-btn-success-hover);
}
@media screen and (min-width: 93.75rem) {
    .checkout__box {
        width: 75rem;
    }
    .checkout__payment {
        width: 24.375rem;
    }
}